.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 1.3rem 0rem 1.3rem 0rem;
  position: fixed;
  top: 0;
  z-index: 1;
}

.logo {
  margin: 0;
}

.logo a {
  color: #657086;
}

.nav_container {
  width: 75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  margin-left: -10rem;
  align-items: flex-end;
}

.nav2 {
  display: flex;
  align-items: center;
}

.nav_list {
  list-style: none;
  display: flex;
}

.nav_item:not(:last-child) {
  margin-right: 1.8rem;
}

.nav_link {
  font-size: .8rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  transition: 0.5s;
}

.nav_link:hover {
  color: #5D75A6;
}

.aboutme {
  display: flex;
  padding-top: 10rem;
  padding-bottom: 6rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #0a0b0da4;
  box-shadow: inset 0px 0px 10px #0a0b0d3f;
}

.profile_picture {
  -webkit-filter: saturate(1.7);
  filter: blur(0.3px);
}

.aboutme div {
  max-width: 600px;
  text-align: justify;
  color: #c8d2e6;
}

.aboutme div h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.span_p {
  margin-left: 30px;
}

.p {
  line-height: 1.4rem;
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
  font-weight: 500;
  opacity: 70%;
  text-indent: 1rem;
  margin-left: 50px;
}

.languages_container {
  display: flex;
  margin-top: 60px;
  flex-direction: row;
  gap: 30px;
}

.language {
  height: 50px;
  width: 50px;
  opacity: 70%;
  cursor: pointer;
  transition: 0.5s;
}

.language:hover {
  opacity: 100%;
  scale: 0.9;
  z-index: 1;
}

.language_descr {
  position: absolute;
  background-color: #0c0c0c;
  border-radius: 5px;
  padding: 5px;
  top: 140%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: down;
  animation-duration: 0.5s;
  transition: 0.5s;
  font-size: 0.8rem;
}

.popup_container {
  position: relative;
}

.projects_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-color: #0c0c0c;
}

.project {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  margin: 20px 0px;
}

.project_data {
  color: #c8d2e6;
  text-align: center;
}

.project_data h1 a {
  color: #c8d2e6;
}

.project_data p {
  margin: 20px 0px;
  font-weight: 600;
  opacity: 70%;
  font-size: 0.8rem;
}

.increment_button {
  height: 70px;
  background: none;
  border: none;
  outline: none;
  transition: 0.5s;
  color: #8b869e;
  font-size: 1rem;
  cursor: pointer;
}

.project_img {
  border-radius: 5px;
  opacity: 70%;
  transition: 0.5s;
}

.project_img:hover {
  opacity: 100%;
  scale: 0.97;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: #030303;
}

.footer div {
  margin: 2rem 12rem;
}

.h2 {
  font-size: 0.9rem;
  color: #c8d2e6;
  margin-bottom: 10px;
}

.list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.list li {
  font-size: 0.8rem;
  margin: 5px;
}

.footer_create {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -30%);
  background-color: #030303;
  color: #c8d2e6;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  font-weight: 600;
  padding-bottom: 5px;
}

.menu_container {
  position: fixed;
  right: 20px;
  top: 20px;
  color: white;
  scale: 2;
  z-index: 2;
  cursor: pointer;
}

.menu {
  position: fixed;
  right: 0;
  top: 0;
  width: 200px;
  height: 100vh;
  transition: 0.5s;
  background-color: #0c0c0c;
  z-index: 1;
}

.menu_off {
  position: fixed;
  right: 0;
  top: 0;
  width: 0px;
  height: 100vh;
  transition: 0.5s;
  background-color: #0c0c0c;
  z-index: 1;
}

.nav_list2 {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 20px;
  list-style: none;
  gap: 10px;
  color: #c8d2e6;
}

@keyframes down {
  from {
    opacity: 0;
    top: 0;
  }

  to {
    opacity: 1;
    top: 140%;
  }
}

@media all and (max-width: 1070px) {
  .aboutme {
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 1rem;
  }

  .aboutme div {
    scale: 0.9;
  }

  .aboutme div h1 {
    font-size: 1.6rem;
    margin-bottom: 0.7rem;
    text-align: center;
  }

  .span_p {
    margin-left: 0px;
  }
  
  .p {
    line-height: 1.4rem;
    letter-spacing: 0.1rem;
    font-size: 0.8rem;
    font-weight: 500;
    opacity: 70%;
    text-indent: 1rem;
    margin-left: 0px;
  }

  .languages_container {
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
  }

  .language {
    height: 80px;
    width: 80px;
    opacity: 70%;
    cursor: pointer;
    transition: 0.5s;
  }

  .project {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: 10px 0px;
  }

  .project_data {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  
  .project_data h1 a {
    color: #c8d2e6;
  }
  
  .project_data p {
    margin: 10px 0px;
    font-size: 0.8rem;
    width: 300px;
  }
  
  .project_img {
    scale: 0.6;
  }

  .project_img:hover {
    opacity: 100%;
    scale: 0.5;
  }

  .footer {
    flex-direction: column;
    justify-content: flex-start;
  }

  .footer div {
    margin: 1.6rem 0.9rem;
  }

  .logo {
    position: absolute;
    left: 0;
    top: 10px;
    background: none;
    scale: 0.8;
    color: #c8d2e6;
    opacity: 100%;
  }
}